.title,
.title2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(190, 121, 121);
}

.title2{
    text-align: left;
    background-color: rgb(190, 121, 121);
}

.fonts{
    font-family: "Arial", sans-serif;
}

.heading,
.heading2{
text-align:center;
color: black;
font-weight: bold;
font-size: 45px;
}

.heading2{
    text-align: left;
    background-color:rgb(190, 121, 121);
    font-size:30px;
}

.image{
    height:auto;
    width: 350px;
}
.li{
    font-size: 20px;
}